# Lazarus project files
*.lps
*.compiled
*.lpi.bak
*.lpr.bak
*.lfm.bak
*.pas.bak

# Compilation artifacts
*.ppu
*.o
*.compiled
*.exe
*.dll
*.so
*.dcu
*.bak
*.a

# OS-specific
.DS_Store
Thumbs.db

# Backup and temp
*.~*
*.tmp
*.log
*.swp

# Bin and output folders (if used)
/bin/
/build/
/output/
/lib/
/tmp/

# Misc
*.map
*.res
*.sdf
*.db
